{% extends "admin/base_site.html" %}
{% block content %}
    <h2 class="col-12">{{ title }}</h2>
    <p class="col-12">Welcome</p>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--cards-->
    <div class="row g-4 col-12">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-center p-3">
                <h5>Total Students</h5>
                <p class="fs-2">{{ total_student }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-center p-3">
                <h5>Total Staff</h5>
                <p class="fs-2">{{ total_staff }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-center p-3">
                <h5>Total Teacher</h5>
                <p class="fs-2">{{ total_teacher }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-center p-3">
                <h5>Total Course</h5>
                <p class="fs-2">{{ total_course }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-center p-3">
                <h5>Total Subject</h5>
                <p class="fs-2">{{ total_subjects }}</p>
            </div>
        </div>
    </div>
{% endblock %}
