{% extends 'admin/base_site.html' %}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card card-info text-center">
                    <div class="card-header">
                        <i class="fas fa-user-graduate fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Students</h5>
                        <p class="card-text display-4">{{ student_count }}</p>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card card-success text-center">
                    <div class="card-header">
                        <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Teachers</h5>
                        <p class="card-text display-4">{{ teacher_count }}</p>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card card-warning text-center">
                    <div class="card-header">
                        <i class="fas fa-book-open fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Courses</h5>
                        <p class="card-text display-4">{{ course_count }}</p>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card card-danger text-center">
                    <div class="card-header">
                        <i class="fas fa-book fa-3x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total Subjects</h5>
                        <p class="card-text display-4">{{ subject_count }}</p>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
{% endblock %}
